.LineChart {
  display: flex;
}
@media only screen and (max-width: 1277px) {
  .LineChart {
    flex-direction: column;
  }
  .chart {
    min-width: 90%;
    margin-bottom: 20px;
  }
}
.chart {
  width: 37vw;
  height: 355px;
  background-color: #22252d;
  margin-left: 45px;
  border-radius: 8px;
  padding: 10px;
}
