.cards {
  margin: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  height: 130px;
  width: 250px;
  text-align: center;
  padding-top: 30px;
  margin: 15px;
  border-radius: 5px;
  background-color: #22252d;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.card h4 {
  display: inline;
}
.card div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon i {
  font-size: 30px;
}
.cards div:nth-child(1) .icon {
  background-color: rgb(255, 7, 58);
}
.cards div:nth-child(2) .icon {
  background-color: rgb(40, 167, 69);
}
.cards div:nth-child(3) .icon {
  background-color: rgb(108, 117, 125);
}
