.cards {
  margin: 8vh 5vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  height: 100px;
  width: 200px;
  text-align: center;
  padding-top: 30px;
  margin: 15px;
  background-color: orange;
  border-radius: 5px;
}
