.cards {
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  height: 100px;
  width: 200px;
  text-align: center;
  padding-top: 30px;
  background-color: orange;
  border-radius: 5px;
}
