* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.chartAlign {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
